@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@model Application.ViewModels.CursoViewModel;
@inject UserManager<Usuario> UserManager
@{
    ViewData["Titulo"] = "Curso";
    if (User.Identity.IsAuthenticated)
    {
        var userId = UserManager.FindByEmailAsync(User.Identity.Name).Result.Id;
    }
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <input hidden asp-asp-for="Id" />
                <div class="col-12 col-sm-6">
                    <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                    <div class="col-12">
                        <img src="~/Resources/Capas/@Model.Capa" class="product-image" alt="Product Image">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="my-3">@Model.NomeCurso</h3>
                    <p>@Model.Descricao</p>
                    <hr>
                    <div class="text-danger  py-2 px-3 mt-4">
                        <h3 class="mb-0">
                            @string.Format("{0:C}", Model.Valor)
                        </h3>
                    </div>
                    <div class="mt-4">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="btn btn-success btn-lg btn-flat">
                                <a asp-action="Index" asp-controller="Login" style="text-decoration: none; color: white">
                                    <i class="fas fa-user mr-2"></i>
                                    Fazer Login
                                </a>
                            </div>
                            <div class="btn btn-info btn-lg btn-flat">
                                <a asp-action="CreateStudent" asp-controller="Registro" style="text-decoration: none; color: white">
                                    <i class="fas fa-user-plus mr-2"></i>
                                    Nova Conta
                                </a>
                            </div>
                        }else
                        {
                            @if (!Model.HasCurso)
                            {
                                <form asp-action="BuyCourses" asp-controller="Cursos" asp-route-cursoId="@Model.Id" asp-route-usuarioId="@UserManager.FindByEmailAsync(User.Identity.Name).Result.Id">
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-success btn-lg btn-flat">
                                        Comprar
                                    </button>
                                </div>
                                </form>
                            }
                            else
                            {
                                <div class="col-sm-3">
                                    <button class="btn btn-dark btn-lg btn-flat" disabled>
                                        Comprado
                                    </button>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Descrição</a>

                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">@Model.Descricao</div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {

}