@model PagedList.IPagedList<Application.ViewModels.CursoViewModel>
@{
    ViewData["Titulo"] = "Cursos";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Resources/Capas/@item.Capa" style="height: 18.75rem; width: 34.375rem" alt="curso" />
                        </div>
                        <div class="card-footer col-sm-12 row">
                            <div class="col-sm-6">
                                <h1 class="card-title text-success" href="#">@item.NomeCurso</h1>
                                <p class="card-text small">@item.Criador</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="card-text small">R$ @item.Valor</p>
                            </div>
                        </div>

                        <a asp-route-id="@item.Id" asp-action="Details" asp-controller="Cursos" class="btn btn-success">Saiba Mais</a>
                    </div>
                }
            </div>
        </div>
        <div class="pagination">
            <ul>
                @if (Model.PageCount > 1)
                {
                    @if (Model.HasPreviousPage)
                    {
                        <li><a href="@Url.Action("Index", new { page = 1 })">Primeira</a></li>
                        <li><a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Anterior</a></li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="@(i == Model.PageNumber ? "active" : "")">
                            <a href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li><a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Próxima</a></li>
                        <li><a href="@Url.Action("Index", new { page = Model.PageCount })">Última</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        })

        $(document).ready(function () {
            const maxLength = 590;

            $('.card-footer').each(function () {
                const contentText = $(this).find('p').text();

                if (contentText.length > maxLength) {
                    const trimmedText = contentText.slice(0, maxLength);

                    $(this).find('p').text(`${trimmedText} [...]`);
                }
            });
        });

    </script>
}
